<h2>Sampling Event Overview</h2>

<h2>{{sampleEvent.assayName}}</h2>
{{sampleEvent.date}} <br>

Coge: {{sampleEvent.coge}}  <br>
Samplers: {{sampleEvent.samplers}} <br>
Site: {{sampleEvent.Site}} <br>
Facility: {{sampleEvent.facility}} <br>
Environment: {{sampleEvent.environment}} <br>
Spacecraft: {{sampleEvent.spacecraft}} <br>


<h4> List of Samples</h4>


<u1>
    {% for sam in sampleEvent.sample_set.all %}
        <!--<li>{{sam}}</li> -->
        <a href="{% url 'sampling_event:sample-index' sam.id %}" class="btn btn-primary btn-sm" role="button"> {{ sam}} </a>


    {% endfor %}
    <br>
    <br>

     <!-- Update Sampling Event -->
    <form action="{% url 'sampling_event:sampleEvent-update' sampleEvent.id %}" method="post" style="display: inline;">
    </form>
    <form action="{% url 'sampling_event:sampleEvent-update' sampleEvent.id %}" method="post" style="display: inline;">
        {% csrf_token %}
        <input type="hidden" name="event_id" value="{{ sampleEvent.id }}"/>
        <button type="submit" class="btn btn-default btn-success">
            <span class="glyphicon glyphicon-plus"></span>&nbsp; Update Sampling Event
        </button>
    </form>
</u1>

{% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
{% endif %}


